/* base header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  font-family: "Open Sans ", sans-serif;
  font-size: 450%;
  font-variant: small-caps;
  font-weight: 800;
  background-color: white;
  color: crimson;
  padding: 1%;
  z-index: 10;
}

/* reverses header on hover*/
.header:hover,
.header:hover li,
.header:hover a,
.header:hover li #heartbeat {
  background-color: white;
  color: crimson;
  transition: 1s;
}

/*returns header to normal when not hovering*/
.header:not(:hover),
.header:not(:hover) li,
.header:not(:hover) a,
.header:not(:hover) li #heartbeat {
  background-color: crimson;
  color: white;
  transition: 1s;
}

.header li #heartbeat {
  vertical-align: middle;
  display: table-cell;
  font-family: "lineFont";
  color: white;
  border-color: black;
  width: fit-content;
  margin-left: 10%;
}

/*gives padding and space for header to main section*/
.main {
  padding: 5%;
  margin-top: 5%;
}

body {
  padding: 0;
  margin: 0;
}

.header li {
  list-style: none;
  float: left;
  color: crimson;
  text-align: center;
  text-decoration: none;
}

.header .navLink {
  font-size: 50%;
  margin-top: 1%;
  margin-right: 5%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  float: right;
}

#loginDropdown {
  font-size: 50%;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  margin-right: 5%;
  padding: 1%;
  z-index: 1;
}

#login:hover #loginDropdown,
#loginDropdown:hover {
  display: block;
  transition: 25ms;
}

#login:not(:hover) #loginDropdown,
#loginDropdown:not(:hover) {
  display: none;
  transition: 10s;
}

input {
  margin-top: 1%;
}

.header a {
  text-decoration: none;
}

#myInput {
  background-image: url("/css/searchicon.png"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.btn {
  width: fit-content;
  font-size: 110%;
  font-weight: 600;
  font-variant: small-caps;
  font-stretch: narrower;
  color: crimson;
  background-color: whitesmoke;
  outline: none;
  border-radius: 15px;
  border-style: solid;
  border-color: crimson;
  border-width: 5px;
  margin: 0.5%;
}

.btn:hover {
  border-color: black;
  color: black;
  background-color: crimson;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

h1,
h2 {
  padding-top: 10%;
}

.scrollImages li {
  padding: 1%;
  list-style-type: none;
  display: inline;
}

.slide {
  opacity: 0;
  transition: all 1s;
}

.show {
  font-family: "Open Sans ", sans-serif;
  color:crimson;
  opacity: 1;
}











/* we have 200 lines now. There's my commit, *daniel* */
